Repository AISE-TUDelft/code4me2-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, black

prettier:
  name: Run prettier
  entry: "sh -c \"npx prettier --write --ignore-unknown \\\"$@\\\" && \\\n git add . && \\\n git commit -m 'chore: auto-commit prettier changes' || true\"\n"
  language: system
  args:
  - --
  pass_filenames: true

black:
  name: Run black
  entry: black "./backend/**/*.py" --diff --color
  language: python

pre-commit changes
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: prettier

[CI/CD] check pre-commit
  .pre-commit-config.yaml
Due: prettier

[CI/CD] reformatted previously added python files
  backend/main.py
  backend/models/auth_models.py
  backend/routers/auth.py
Due: black

[CI/CD] check gitlab ci pipeline
  .gitlab-ci.yml
Due: prettier

[CI/CD] check gitlab ci pipeline
  .gitlab-ci.yml
  artifacts/black-report.json
  artifacts/coverage.xml
  artifacts/prettier-report.json
Due: prettier

[CI/CD] check gitlab ci pipeline
  .gitlab-ci.yml
  requirements.txt
Due: prettier

[CI/CD] check gitlab ci pipeline
  .gitlab-ci.yml
  artifacts/coverage.xml
  artifacts/security-report.txt
  artifacts/test-report.xml
  artifacts/website-security-report.txt
Due: prettier

[CI/CD] check gitlab ci pipeline
  .gitlab-ci.yml
  artifacts/black-report.json
  artifacts/prettier-report.json
  artifacts/security-report.txt
  artifacts/test-report.xml
  artifacts/website-security-report.txt
Due: prettier

[Docker] Initial Docker Setup: The setup contains the necessary containers for running backend and db in the future. Fixes might be needed
  .dockerignore
  .env
  Dockerfile
  docker-compose.yml
  docker-helper.sh
  nginx.conf
  ngnix.conf
  requirements.txt
  website/Dockerfile.website
  website/nginx-website.conf
Due: prettier

[Docker] nginx.conf Deletion: deleted the extra nginx file to test containers
  nginx.conf
Due: none

[Docker] Deleting Docker helper: deleting docker helper since it is unnecessary
  docker-helper.sh
Due: none

[Docker] Deleting dockerignore: deleting the dockerignore file
  .dockerignore
Due: none

[Docker] Deleting unnecessary files: Deleting file for checking if the containers are working
  website/nginx-website.conf
Due: none

[Docker] Deleting unnecessary files: Deleting file for checking if the containers are working
  website/Dockerfile.website
Due: none

[Docker]: Fixed the issue with nginx container not starting up
  .env
  .gitignore
  docker-compose.yml
  nginx.conf
  requirements.txt
Due: prettier

[Docker]: Added website container
  backend/main.py
  docker-compose.yml
  nginx.conf
Due: prettier, black

[Fastapi]: Added a basic scaffold to the fastapi backend
  .gitignore
  .gitlab-ci.yml
  backend/__init__.py
  backend/main.py
  backend/models/__init__.py
  backend/models/bodies.py
  backend/models/requests.py
  backend/models/responses.py
  backend/routers/__init__.py
  backend/routers/auth.py
  backend/routers/user/__init__.py
  backend/routers/user/authenticate.py
  backend/routers/user/create.py
  backend/routers/user/exists.py
  requirements.txt
  resources/documentation/auth_workflows.md
  resources/specs/authentication/openapi.yaml
  website/src/App.js
  website/src/components/auth/Login.js
  website/src/components/auth/Signup.js
  website/src/pages/Dashboard.css
  website/src/pages/Dashboard.js
  website/src/utils/api.js
  website/src/utils/auth.js
Due: prettier, black

[Fastapi]: Reformatting
  .env
  .gitignore
  pytest.ini
  requirements.txt
  src/backend/main.py
  src/backend/models/Requests.py
  src/backend/models/Responses.py
  src/backend/routers/user/authenticate.py
  src/backend/routers/user/create.py
  src/backend/routers/user/exists.py
  test/backend/routers/user/test_create.py
Due: black

[Database] Initial Database: Initial Database setup with changes to the structure (might need changes)
  backend/database/__init__.py
  backend/database/crud.py
  backend/database/db.py
  backend/database/db_models.py
  backend/database/db_schemas.py
  backend/database/init.sql
  backend/database/models/Code4meConfig.py
  backend/main.py
  backend/routers/auth.py
  requirements.txt
Due: black

M1/set up ci cd pipeline
  .gitlab-ci.yml
  .pre-commit-config.yaml
  backend/main.py
  backend/models/auth_models.py
  backend/routers/auth.py
  requirements.txt
Due: prettier, black

[Database] Adding Docker: Adding necessary dockerfiles
  Dockerfile
  docker-compose.yml
  nginx.conf
Due: prettier

Reformatted code
  Dockerfile
  docker-compose.yml
Due: prettier

[CI/CD]: Attempt to fix the pipeline
  .gitlab-ci.yml
Due: prettier

Reformatting
  .env
  Dockerfile
  docker-compose.yml
  src/Queries.py
  src/backend/main.py
  src/backend/models/Bodies.py
  src/backend/models/Requests.py
  src/backend/models/Responses.py
  src/backend/routers/__init__.py
  src/backend/routers/user/authenticate.py
  src/backend/routers/user/create.py
  src/backend/routers/user/exists.py
  src/backend/utils/Code4meV2Config.py
  src/base_models.py
  src/database/__init__.py
  src/database/crud.py
  src/database/db.py
  src/database/db_models.py
  src/database/db_schemas.py
  src/database/init.sql
  test/backend/routers/user/test_create.py
Due: prettier, black

Refactoring
  .env
  src/App.py
  src/Code4meV2Config.py
  src/Queries.py
  src/backend/main.py
  src/backend/models/Bodies.py
  src/backend/models/Requests.py
  src/backend/models/Responses.py
  src/backend/routers/__init__.py
  src/backend/routers/user/__init__.py
  src/backend/routers/user/authenticate.py
  src/backend/routers/user/create.py
  src/backend/routers/user/exists.py
  src/base_models.py
  src/database/__init__.py
  src/database/crud.py
  src/database/db_models.py
  src/database/db_schemas.py
  src/utils.py
Due: black

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|css|html|yaml|yml|md|scss)$, but not: node_modules/
  black: any of: \.py$
