Repository AISE-TUDelft/code4me2-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, black

prettier:
  name: Run prettier
  entry: npx prettier --write --ignore-unknown
  language: system
  args:
  - --
  pass_filenames: true

black:
  name: Run black
  entry: black --color
  language: python
  pass_filenames: true

[Fastapi]: Connected the server UI to the app so that now users can sign up and login using the UI panel
  src/backend/utils.py
  src/website/.env
Due: none

[Fastapi]: Connected the server UI to the backend api so that now users can sign up and login
  .env
  docker-compose.yml
  nginx.conf
  requirements.txt
  src/Code4meV2Config.py
  src/backend/main.py
  src/backend/models/Responses.py
  src/backend/resources/documentation/auth_workflows.md
  src/backend/resources/specs/authentication/openapi.yaml
  src/backend/routers/user/authenticate.py
  src/backend/routers/user/create.py
  src/backend/utils.py
  src/base_models.py
  src/database/crud.py
  src/database/db_schemas.py
  src/database/init.sql
  src/website/.env
  src/website/package-lock.json
  src/website/src/App.js
  src/website/src/components/auth/Auth.js
  src/website/src/components/auth/Login.js
  src/website/src/components/auth/Signup.js
  src/website/src/components/common/PasswordCreationModal.js
  src/website/src/pages/Dashboard.css
  src/website/src/pages/Dashboard.js
  src/website/src/utils/api.js
  src/website/src/utils/auth.js
Due: prettier

Refactoring
  .env
  Dockerfile
  docker-compose.yml
  nginx.conf
  src/App.py
  src/Code4meV2Config.py
  src/backend/main.py
  src/backend/utils.py
  src/website/.env
  src/website/src/utils/api.js
Due: prettier

Refactoring
  backend/main.py
  backend/models/auth_models.py
  backend/routers/auth.py
Due: black

[Database] Tests: Initial test setup. Will change after merging main and updating the branch
  Dockerfile
  docker-compose.yml
  src/backend/database/db_models.py
  src/backend/database/init_test.sql
  src/backend/models/Code4meConfig.py
  src/website/package-lock.json
  src/website/package.json
  tests/backend/__init__.py
  tests/backend/database/__init__.py
  tests/backend/routers/__init__.py
  tests/backend/routers/user/__init__.py
  tests/backend/routers/user/test_create.py
  tests/test_user_crud.py
Due: prettier

Reformatting
  .gitlab-ci.yml
  backend/main.py
  backend/models/auth_models.py
  backend/routers/auth.py
  pytest.ini
  src/Queries.py
  src/backend/main.py
  src/backend/models/Responses.py
  src/backend/routers/user/authenticate.py
  src/backend/routers/user/create.py
  src/backend/utils.py
  src/base_models.py
  src/database/crud.py
  src/database/utils.py
  test/backend/routers/user/test_create.py
  tests/backend_tests/__init__.py
  tests/backend_tests/routers/__init__.py
  tests/backend_tests/routers/user/__init__.py
  tests/backend_tests/routers/user/test_authenticate.py
  tests/backend_tests/routers/user/test_create.py
Due: prettier, black

[Setup]: changed requirements.txt
  requirements.txt
Due: none

[Setup]: updated gitlab-ci.yml to generate test reports
  .gitlab-ci.yml
Due: prettier

[Database] Tests: added initial tests and documentation needs recheck and setup with docker
  docker-compose.yml
  src/backend/database/__init__.py
  src/backend/database/crud.py
  src/backend/database/db.py
  src/backend/database/db_models.py
  src/backend/database/db_schemas.py
  src/backend/database/init.sql
  src/backend/models/Code4meConfig.py
  src/database/init_test.sql
  src/database/resources/documentation/readme.md
  tests/database/__init__.py
  tests/database/test_user_crud.py
  tests/test_user_crud.py
Due: prettier

[Database] Changing container name: changed container name to db_tests
  docker-compose.yml
  pytest.ini
  tests/database_tests/__init__.py
  tests/database_tests/test_user_crud.py
Due: prettier

[API endpoints] API endpoints for completion: initial setup needs testing and debug
  docker-compose.yml
  pytest.ini
  src/Queries.py
  src/backend/models/Responses.py
  src/backend/routers/__init__.py
  src/backend/routers/completion/__init__.py
  src/backend/routers/completion/feedback.py
  src/backend/routers/completion/get.py
  src/backend/routers/completion/request.py
  src/database/crud.py
  tests/backend_tests/__init__.py
  tests/backend_tests/routers/__init__.py
  tests/backend_tests/routers/completion/__init__.py
  tests/backend_tests/routers/user/__init__.py
  tests/backend_tests/routers/user/test_create.py
  tests/database_tests/__init__.py
  tests/database_tests/test_user_crud.py
Due: prettier

[API endpoints] Black Reformat
  src/Queries.py
  src/backend/models/Responses.py
  src/backend/routers/__init__.py
  src/backend/routers/completion/__init__.py
  src/backend/routers/completion/feedback.py
  src/backend/routers/completion/get.py
  src/backend/routers/completion/request.py
  src/database/crud.py
  tests/database_tests/test_user_crud.py
Due: none

[Database] .pgerd file: added pgerd file of the schema via pgadmin
  src/database/resources/design files/code4me_database_schema.pgerd
Due: none

[Database] .pgerd file: added pgerd file of the schema via pgadmin and documentation chnages
  src/database/resources/documentation/readme.md
Due: prettier

[Database] sql file change: change in the test db .sql file
  src/database/init_test.sql
Due: none

[Fastapi]: Added SessionManager to manage user sessions
  .env
  docker-compose.yml
  src/App.py
  src/backend/main.py
  src/backend/models/Responses.py
  src/backend/routers/user/authenticate.py
  src/backend/routers/user/create.py
  src/backend/session_manager.py
  tests/backend_tests/routers/user/test_authenticate.py
  tests/backend_tests/routers/user/test_create.py
Due: prettier

[API endpoints] Crud change: removed some redundant fucntions in crud
  docker-compose.yml
  src/database/crud.py
Due: prettier

[API endpoints] Endpoints with tests: added tests to ensure endpoints workflow
  docker-compose.yml
  src/App.py
  src/Code4meV2Config.py
  src/Queries.py
  src/backend/models/Responses.py
  src/backend/routers/completion/feedback.py
  src/backend/routers/completion/get.py
  src/backend/routers/completion/request.py
  src/database/crud.py
  tests/backend_tests/routers/completion/test_completions.py
  tests/backend_tests/routers/completion/test_completions_simple.py
Due: prettier

[API endpoints] Reformatted with black
  src/App.py
  src/Queries.py
  src/backend/routers/completion/request.py
  src/database/crud.py
  tests/backend_tests/routers/completion/test_completions.py
  tests/backend_tests/routers/completion/test_completions_simple.py
Due: none

[Fastapi]: Added user change and delete endpoint and their tests + Changed the structure of testing
  requirements.txt
  src/App.py
  src/Queries.py
  src/backend/main.py
  src/backend/models/Responses.py
  src/backend/routers/__init__.py
  src/backend/routers/user/__init__.py
  src/backend/routers/user/authenticate.py
  src/backend/routers/user/create.py
  src/backend/routers/user/delete.py
  src/backend/routers/user/update.py
  src/backend/session_manager.py
  src/base_models.py
  src/database/crud.py
  tests/backend_tests/routers/user/test_authenticate.py
  tests/backend_tests/routers/user/test_create.py
  tests/backend_tests/routers/user/test_delete.py
  tests/backend_tests/routers/user/test_update.py
Due: none

[Database]: Changed the hashing library to argon2 for better security
  requirements.txt
  src/App.py
  src/backend/main.py
  src/database/crud.py
  src/database/utils.py
Due: none

[Testing]: Fixed an issue with pytest
  .env
  pytest.ini
  requirements.txt
  src/Code4meV2Config.py
  src/backend/main.py
  src/base_models.py
  tests/backend_tests/routers/user/test_delete.py
  tests/backend_tests/routers/user/test_update.py
Due: none

[Testing]: Set database tests to be ignored in gitlab test coverage pipeline
  .gitlab-ci.yml
  tests/database_tests/test_user_crud.py
Due: prettier

[Testing]: Modified completion tests
  tests/backend_tests/routers/completion/test_completions.py
  tests/backend_tests/routers/completion/test_completions_simple.py
Due: none

[Refactoring]: Polished the imports and refactored responses
  src/Queries.py
  src/backend/models/Responses.py
  src/backend/routers/completion/feedback.py
  src/backend/routers/completion/get.py
  src/backend/routers/completion/request.py
  src/base_models.py
  tests/backend_tests/routers/completion/test_completions.py
  tests/database_tests/test_user_crud.py
Due: none

[Setup]: Added Ruff + made some changes to user deletion in crud
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  src/backend/routers/user/delete.py
  tests/backend_tests/routers/user/test_delete.py
Due: prettier

[Setup]: Changed CI/CD config file
  .gitlab-ci.yml
Due: prettier

[Setup]: Fixed some ruff check errors
  Dockerfile
  pyproject.toml
  src/App.py
  src/Queries.py
  src/backend/main.py
  src/backend/models/Responses.py
  src/backend/routers/__init__.py
  src/backend/routers/user/authenticate.py
  src/backend/routers/user/create.py
  src/backend/routers/user/delete.py
  src/backend/routers/user/update.py
  src/backend/session_manager.py
  src/base_models.py
  src/database/crud.py
  src/database/db_models.py
  src/database/db_schemas.py
  src/database/utils.py
  tests/backend_tests/routers/user/test_authenticate.py
  tests/backend_tests/routers/user/test_create.py
  tests/backend_tests/routers/user/test_update.py
  tests/database_tests/test_user_crud.py
Due: none

[Docker]: Fixed an issue with Redis container
  src/App.py
  src/Code4meV2Config.py
Due: none

[CI/CD]: Attempt to fix CI/CD pipeline
  .gitlab-ci.yml
Due: prettier

[API Endpoint]: Completion Request supports a nested structure including telemetry and context and tests were modified
  src/Queries.py
  src/backend/routers/completion/request.py
  src/base_models.py
  tests/backend_tests/routers/completion/test_completion_feedback.py
  tests/backend_tests/routers/completion/test_completion_get.py
  tests/backend_tests/routers/completion/test_completion_request.py
  tests/backend_tests/routers/completion/test_completions.py
Due: none

[API Endpoint]: Reformatted with black
  src/Queries.py
  src/backend/routers/completion/request.py
  src/base_models.py
Due: none

[API Endpoint]: Reformatted with black and ruff
  pyproject.toml
  src/Queries.py
  src/backend/models/Responses.py
  src/backend/routers/completion/__init__.py
  src/backend/routers/completion/feedback.py
  src/backend/routers/completion/get.py
  src/backend/routers/completion/request.py
  src/database/crud.py
  tests/backend_tests/routers/completion/test_completion_feedback.py
  tests/backend_tests/routers/completion/test_completion_request.py
  tests/database_tests/test_user_crud.py
Due: none

[API Endpoint]: Reformatted with tests with black
  tests/backend_tests/routers/completion/test_completion_feedback.py
  tests/backend_tests/routers/completion/test_completion_get.py
  tests/backend_tests/routers/completion/test_completion_request.py
  tests/database_tests/test_user_crud.py
Due: none

[API endpoint]: Change in fake structure and test structure
  src/backend/routers/completion/request.py
  src/base_models.py
  tests/backend_tests/routers/completion/test_completion_get.py
  tests/backend_tests/routers/completion/test_completion_request.py
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|css|html|yaml|yml|md|scss)$, but not: node_modules/
  black: any of: ^backend/.*\.py$, but not: ^\.venv/
